<ion-header>
  <ion-toolbar>
    <ion-title>store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="top-banner {{display}}">
    <div class="inner-banner"></div>
    <div class="badge-banner">
        <img class="rank-img" [src]="userData.rank.image">
    </div>
  </div>


<ion-grid padding>
  <ion-row>
    <ion-col>
      <div>
        1 of 3
      </div>
    </ion-col>
    <ion-col>
      <div>
        2 of 3
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
