<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Metas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../assets/img/fundacion.png" />
    <ion-card-header>
      <ion-card-subtitle>Fundación 1 Kilo de Ayuda: Para la causa Y</ion-card-subtitle>
      <ion-card-title>Meta 2019: 50.000 €</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus dignissim est et accumsan.
        Curabitur eget tincidunt nibh, eget porttitor mi. Donec lorem est, lacinia at pulvinar in, commodo vel nulla.
      </ion-text>

      <ion-list>
          <ion-list-header>
            <ion-label>Progreso: 97,8%</ion-label>
          </ion-list-header>
          <ion-progress-bar color="success" value="0.978"></ion-progress-bar>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <img src="../assets/img/fundacion.png" />
      <ion-card-header>
        <ion-card-subtitle>Asociación ACHALAY: Para la causa Y</ion-card-subtitle>
        <ion-card-title>Meta Diciembre 2019: 5.000 €</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus dignissim est et accumsan.
          Curabitur eget tincidunt nibh, eget porttitor mi. Donec lorem est, lacinia at pulvinar in, commodo vel nulla.
        </ion-text>
  
        <ion-list>
            <ion-list-header>
              <ion-label>Progreso: 55,1%</ion-label>
            </ion-list-header>
            <ion-progress-bar color="warning" value="0.551"></ion-progress-bar>

          </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../assets/img/fundacion.png" />
        <ion-card-header>
          <ion-card-subtitle>Fundación ACAIR: Para la causa Y</ion-card-subtitle>
          <ion-card-title>Meta Enero-Febrero 2020: 12.000 €</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus dignissim est et accumsan.
            Curabitur eget tincidunt nibh, eget porttitor mi. Donec lorem est, lacinia at pulvinar in, commodo vel nulla.
          </ion-text>
    
          <ion-list>
              <ion-list-header>
                <ion-label>Progreso: 21,4%</ion-label>
              </ion-list-header>
              <ion-progress-bar color="danger" value="0.214"></ion-progress-bar>
            </ion-list>
            
        </ion-card-content>
      </ion-card>
</ion-content>
