<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video width='100%' class="{{displayVideo}}" (ended)="removeAd()" (click)="removeAd()" (loadeddata)='video($event)'>
    <source src="../assets/videos/ad.mp4" type="video/mp4">
  </video>

  <div class="top-banner">
    <div class="inner-banner"></div>
    <div class="badge-banner">
        <img class="rank-img" [src]="userData.rank.image">
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style='font-size: 20px;'>
        Cartera
        <ion-icon name='cash' style='float:right; font-size: 30px;'></ion-icon>
      </ion-card-subtitle>
      <ion-card-title color='danger' style='font-size: 35px;'>{{userData.wallet}} €</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style='font-size: 20px;'>
        Puntos
        <ion-icon name='disc' style='float:right; font-size: 30px;'></ion-icon>
      </ion-card-subtitle>
      <ion-card-title color='danger' style='font-size: 35px;'>{{userData.points}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-button class="ion-activatable custom-size pulse" expand="block" size="undefined"  (click)="presentLoading()" color="danger" strong style="font-size: 25px;">
      <ion-icon name="arrow-dropright-circle" ></ion-icon>
			  VER ANUNCIO
			<ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-button>
  
</ion-content>
