<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Fundaciones
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <img src="../assets/img/fundacion2.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Fundación</ion-card-subtitle>
        <ion-card-title>1 Kilo de Ayuda</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
            Un programa de SOLIDARIDAD permanente que lleva más de 15 años trabajando para mejorar
            las condiciones de vida de quienes lo necesitan.
        </ion-text>
  
        <ion-label><a href="#">Conocer más...</a></ion-label>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
        <img src="../assets/img/fundacion2.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Asociación</ion-card-subtitle>
          <ion-card-title>ACHALAY</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
              Somos una asociación española sin ánimo de lucro que trabajamos desde el año 2002 en proyectos
              nacionales e internacionales,con una única misión...
          </ion-text>
    
          <ion-label><a href="#">Conocer más...</a></ion-label>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
          <img src="../assets/img/fundacion2.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Fundación</ion-card-subtitle>
            <ion-card-title>ACAIR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
                Associació Catalana d'Ajuda a la Infancia Romanesa se dedica desde el año 1991 a buscar
                caminos para que muchos niños que sufren enfermedad en aque... 
            </ion-text>
      
            <ion-label><a href="#">Conocer más...</a></ion-label>
          </ion-card-content>
        </ion-card>
  </ion-content>
  